[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
scipy = "*"
h5py = "*"
matplotlib = "==3.5.1"
tqdm = "*"
torch-audiomentations = "*"
ipython = "*"
notebook = "*"
appnope = "*"
ipympl = "*"
ipywidgets = "*"
pyroomacoustics = "*"
muse = {ref = "speed-up-jackknife", git = "https://github.com/ralphpeterson/muse-python.git"}

[dev-packages]

[requires]
python_version = "3.9"
